<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!--<head>-->
<!--    <meta charset="UTF-8"/>-->
<!--    <title>Create Event</title>-->
<!--</head>-->

<head th:replace="fragments :: head"></head>
<body class ="container">

<h1>Create Event</h1>

<nav th:replace="fragments :: navigation"></nav>
<!--<header th:replace="fragments :: header"></header>-->
<p th:text="${errorMsg}" style="color:red;"></p>

<!--Form handler and the submission handler both have the same route but different mapping - one is get and other is post-->
<!--<form method="post" action="/events/create">-->

<form method="post">
    <div class="form-group">
       <label>Name
<!--            <input type="text" name="eventName" class="form-control">-->
<!--           <input type="text" name="name" class="form-control">-->
           <input  th:field="${event.name}" class="form-control">

           <!--           form input names should be matching with the field names of the Event object -->
       </label>
        <p class="error" th:errors="${event.name}"></p>
<!--        Setting th:errors to a field will display any validation errors for that field.-->
    </div>
    <br>
    <div class="form-group">
        <label>Description
<!--            <input type="text" name="eventDescription" class="form-control">-->
<!--            <input type="text" name="description" class="form-control">-->
            <input th:field="${event.description}" class="form-control">
<!--            form the field name id gets generated for each field, we can check it by  inspect element -->

        </label>
        <p class="error" th:errors="${event.description}"></p>

    </div>
    <br>
    <div class="form-group">
        <label>Email
<!--        <input type="text" name="contactEmail"  class="form-control">-->
            <input th:field="${event.contactEmail}" class="form-control">

        </label>
        <p class="error" th:errors="${event.contactEmail}"></p>
    </div>
    <br>
    <div class="form-group">
        <label>Type
            <select th:field="${event.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
        </label>
    </div>
<!--                        th:value is for caps version-->
<!--                th:text is for human read able version-->


    <br>

    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>

</form>

</body>
</html>

<!--th:replace = "fileName :: fragmentName"-->